{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Log in</h1>
    {%  if fotm.errors %}
        <p>Login or password are incorrect.</p>
    {% else %}
        <p>Please, use the following form to log in:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login'  %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log in"></p>
        </form>
    </div>
    <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
{% endblock %}