{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">

</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authentificated %}
            <ul class="menu">

                <li>{% if section == 'dashboard' %}
                        class='selected'
                    {% endif %}
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                </li>

                <li>{% if section == 'images' %}
                        class='selected'
                    {% endif %}
                    <a href="#">Images</a>
                </li>

                <li>{% if section == 'dashboard' %}
                        class='selected'
                    {% endif %}
                    <a href="#">People</a>
                </li>

            </ul>
        {% endif %}
    <span class="user">
        {% if request.user.is_autentificated %}
            Hello {{ request.user.first_name }},
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}">Login</a>
        {% endif %}
    </span>
    </div>
    {% if messages %}
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
        {% endfor %}
    {%  endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>